<div class="d-flex justify-content-center">

  <!-- Profile -->
  <div class="menu-box" routerLink="/">
    <div>
      <img src="assets/img/profile.png" alt="profile" class="img-icon">
    </div>
    <div>
      Mon Compte
    </div>
  </div>
  <!-- End Profile -->

  <!-- Reservation -->
  <div class="menu-box" routerLink="/request">
    <div>
      <img src="assets/img/reservation.png" alt="reservation" class="img-icon">
    </div>
    <div>
      Reservation
    </div>
  </div>
  <!-- End Reservation -->

  <!-- Meeting Point -->
  <div class="menu-box" routerLink="/voucher">
    <div>
      <img src="assets/img/point.png" alt="Meeting Point" class="img-icon">
    </div>
    <div>
      Point de Rencontre
    </div>
  </div>
  <!-- End Meeting Point -->

</div>

