div{
  text-align: center;
}

/*NAVBAR*/

.dropdown-item{
  text-align: left;
}

.flag{
  width: 16px;
  height: 16px;
}

/*FOOTER*/

.footer_panel {
  text-align: left;
}

.list--with-arrows {
  list-style: none;
  padding-left: 0;
}
