<div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">City Airport Transfer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/img/FR.png" alt="profile" class="flag">
            Français
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              <img src="assets/img/EN.png" alt="profile" class="flag">
              English
            </a>
            <a class="dropdown-item" href="#">
              <img src="assets/img/ESP.png" alt="profile" class="flag">
              Español
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Condition</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/login">Connection</a>
            <a class="dropdown-item" routerLink="/register">Inscription</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <br>

  <router-outlet></router-outlet>

  <br>
  <br>
  <br>

  <!-- Footer -->

  <footer class="footer-bottom bg-warning">
    <div class="container">
      <br>
      <div class="row d-flex align-items-start flex-wrap content">
        <div class="footer_panel col-12 col-sm-6 col-md-3">
          <h6>City Airport Transfer</h6>
          <ul class="list--with-arrows">
            <li>
              <a routerLink="/user" title="conection">Apropos de nous</a>
            </li>
            <li>
              <a routerLink="/" title="inscription">Contactez-nous</a>
            </li>
          </ul>
        </div>
        <div class="footer_panel col-12 col-sm-6 col-md-3">
          <h6>Travailler avec nous</h6>
          <ul class="list--with-arrows">
            <li>
              <a routerLink="/" title="emploi">Emploi</a>
            </li>
            <li>
              <a routerLink="/transporteur" title="partenaire">Devenir Partenaire</a>
            </li>
            <li>
              <a routerLink="/" title="logemp">Connectez-vous en tant que Partenaire</a>
            </li>
          </ul>
        </div>
        <div class="footer_panel col-12 col-sm-6 col-md-3">
          <h6>Votre compte</h6>
          <ul class="list--with-arrows">
            <li>
              <a routerLink="/login" title="/conection">Connection</a>
            </li>
            <li>
              <a routerLink="/register" title="/inscription">Inscription</a>
            </li>
          </ul>
        </div>
        <div class="footer_panel col-12 col-sm-6 col-md-3">
          <h6>Legal</h6>
          <ul class="list--with-arrows">
            <li>
              <a routerLink="/" title="termes">Termes et Conditions Générales</a>
            </li>
            <li>
              <a routerLink="/" title="politique">Politique de confidentialité</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

</div>
