
<form [formGroup]="formBooking" (submit)="onBooking()">

  <h3 class="mb-3">Réservez votre transport à l'avance</h3>

    <div class="ml-5 mr-5 p-5 d-flex border shadow">

      <div class="row">
        <div class="col-sm-8">
          <!-- nav -->
          <div class="nav nav-tabs to-border-blue" id="nav-tab" role="tablist">
            <a class="nav-item nav-link"
               id="nav-graphic-tab"
               data-toggle="tab"
               href="#nav-graphic"
               role="tab"
               aria-controls="nav-graphic"
               aria-selected="true"
               (click)="onJustifiedPeriod()"
            >
              Depuis l'aéroport
            </a>
            <a class="nav-item nav-link"
               id="nav-table-tab"
               data-toggle="tab"
               href="#nav-table"
               role="tab"
               aria-controls="nav-table"
               aria-selected="false"
               (click)="onJustifiedPeriod()"
            >
              Vers l'aéroport
            </a>
          </div>
          <!-- content nav-->
          <div class="tab-content pt-3 mb-3" id="nav-tabContent">

            <!-- Justifier une période -->
            <div class="tab-pane fade show active" id="nav-graphic" role="tabpanel" aria-labelledby="nav-graphic-tab">

              <div class="row">
                <div class="form-group col-md-6">
                  <label class="font_h7">Prise en charge</label>
                  <input type="email" class="form-control"  placeholder="Départ" formControlName="bookDepart">
                </div>
                <div class="form-group col-md-6">
                  <label>Destination</label>
                  <input type="password" class="form-control" placeholder="Arrivée" formControlName="bookArrive">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-5">
                  <label>Date de prise en charge</label>
                  <input type="date" class="form-control" placeholder="dd/mm/aa" formControlName="bookDate">
                </div>
                <div class="form-group col-sm-3">
                  <label>A quelle heure?</label>
                  <input type="time" class="form-control" placeholder="00" formControlName="bookHeure">
                </div>
                <div class="form-group col-sm-2">
                  <label>Passagers</label>
                  <input type="number" class="form-control" placeholder="1" formControlName="bookPassager">
                </div>
                <div class="form-group col-sm-2">
                  <label>Valises</label>
                  <input type="number" class="form-control" placeholder="0" formControlName="bookBagage">
                </div>
              </div>

              <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
            </div>

            <!-- justifier une journée -->
            <div class="tab-pane fade" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">

              <div class="form-group border rounded input-group-top">
                <label class="pl-3">* Date de l'absence</label>
                <input type="Date" class="form-control border-0 rounded-0" (change)="onDateOnlyChange()">
              </div>
              <div class="form-group">
                <div class="input-group border rounded">

                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" class="" value="0">
                    </div>
                  </div>

                  <label class="form-control text-left">Journée entière</label>

                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" class="" value="1">
                    </div>
                  </div>
                  <label class="form-control text-left">Le matin</label>

                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" class="" value="2">
                    </div>
                  </div>
                  <label class="form-control text-left">L'après-midi</label>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>


    </div>
</form>

<!-- <form [formGroup]="formBooking" (submit)="onBooking()"> -->

<!--<div class="container">

      <div class="row">
        <div class="col-sm-7">
          <div class="card">
            <div class="card-body">
              <h2>Réservez votre transport à l'avance</h2>
              <br>

              <form [formGroup]="formBooking" (submit)="onBooking()">

                &lt;!&ndash; BOOKING &ndash;&gt;
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="font_h7">Prise en charge</label>
                    <input type="email" class="form-control"  placeholder="Départ" formControlName="bookDepart">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Destination</label>
                    <input type="password" class="form-control" placeholder="Arrivée" formControlName="bookArrive">
                  </div>
                </div>

                &lt;!&ndash; DATE/TEMPS &ndash;&gt;
                <div class="row">
                  <div class="form-group col-sm-5">
                    <label>Date de prise en charge</label>
                    <input type="date" class="form-control" placeholder="dd/mm/aa" formControlName="bookDate">
                  </div>
                  <div class="form-group col-sm-3">
                    <label>A quelle heure?</label>
                    <input type="time" class="form-control" placeholder="00" formControlName="bookHeure">
                  </div>
                  <div class="form-group col-sm-2">
                    <label>Passagers</label>
                    <input type="number" class="form-control" placeholder="1" formControlName="bookPassager">
                  </div>
                  <div class="form-group col-sm-2">
                    <label>Valises</label>
                    <input type="number" class="form-control" placeholder="0" formControlName="bookBagage">
                  </div>
                </div>

                &lt;!&ndash; SUBMIT &ndash;&gt;
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <br>

              </form>

            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

</div>-->
