<div class="d-flex">

  <!-- INFO -->
  <div class="infobar shadow">

    <!-- LEGEND CHAUFFEUR -->
    <div class="card text-black-50 bg-light mb-3">
      <div class="card-header h4">
        Légende
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-valide m-0">Modifier un conducteur</li>
        <li class="list-group-item bg-encours m-0">Retirer un conducteur</li>
      </ul>
    </div>

    <div>
      <button>Ajouter un conducteur</button>
    </div>
  </div>

  <!-- LISTE CHAUFFEURS -->

  <table class="table table-hover">
    <thead>
    <tr class="bg-blue">
      <th scope="col">Nom</th>
      <th scope="col">Portable</th>
      <th scope="col">Photo</th>
      <th scope="col">Reservation</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
