<section class="h-100 d-flex flex-column justify-content-center">

  <div class="d-flex justify-content-center">

    <!-- Profile -->
    <div class="menu-box" routerLink="/driver">
      <div>
        <img src="assets/img/profile.png" alt="profile" class="img-icon">
      </div>
      <div>
        Mon Compte
      </div>
    </div>
    <!-- End Profile -->

    <!-- Reservation -->
    <div class="menu-box" routerLink="/">
      <div>
        <img src="assets/img/reservation.png" alt="reservation" class="img-icon">
      </div>
      <div>
        Reservation
      </div>
    </div>
    <!-- End Reservation -->

    <!-- Meeting Point -->
    <div class="menu-box" routerLink="/">
      <div>
        <img src="assets/img/point.png" alt="Meeting Point" class="img-icon">
      </div>
      <div>
        Point de Rencontre
      </div>
    </div>
    <!-- End Meeting Point -->

    <!-- Driver Information -->
    <div class="menu-box" routerLink="/chauffeur">
      <div>
        <img src="assets/img/driver.png" alt="driver" class="img-icon">
      </div>
      <div>
        Chauffeur
      </div>
    </div>
    <!-- End Driver -->

  </div>
</section>
